@import url('https://fonts.googleapis.com/css?family=Raleway:900,700');

@font-face {
                          font-family: "Comfortaa-Regular_Bold";
                          src: url('../fonts/Comfortaa-VariableFont:wght.ttf') format("truetype");
                        }
                        
.webcopy3 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.webcopy3 .logohomebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 99px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 33px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 69px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 71px;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 66px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .personallogo .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 65px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .logohomebutton .lasudesigns {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.webcopy3 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 526px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .homecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 162px;
  height              : 42px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .homecopy .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.webcopy3 .group .homecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 323px;
  height              : 42px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .homecopy2 .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.webcopy3 .group .homecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 485px;
  height              : 42px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .homecopy3 .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.webcopy3 .group .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .home .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.webcopy3 .group .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 3px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 3px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .linecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 241px;
  height              : 3px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .linecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 282px;
  height              : 3px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .linecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 403px;
  height              : 3px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .group .linecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 443px;
  height              : 3px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .frescos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 121px;
  height              : auto;
  width               : 527px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(75, 110, 129, 1.0);
  text-align          : left;
  line-height         : 56.0px;
}
.webcopy3 .frescosisveganmex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 664px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Comfortaa-Regular_Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.webcopy3 .returnback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 745px;
  height              : auto;
  width               : 127px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Comfortaa-Regular_Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(14, 61, 86, 1.0);
  text-align          : left;
  line-height         : 18.0px;
  text-decoration     : underline;
}
.webcopy3 .submitbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 732px;
  height              : 43px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 712px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .submitbutton .rectangle {
  background-color    : rgba(233, 109, 54, 1.0);
  top                 : 0px;
  height              : 43px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.webcopy3 .submitbutton .send {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Raleway", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.webcopy3 .screenshot20191210at121719am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : 363px;
  width               : 662px;
  position            : absolute;
  margin              : 0;
  left                : 240px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}